*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

nav {
  background-color: #212529;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;

  gap: 1rem;
}

.menu_icon {
  display: none;

  background-color: none;
  color: none;
  background: none;
  border: none;

  height: 50px;
  width: auto;
}

svg {
  height: 100%;
  width: auto;

  fill: #ffffff;
}

ul {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

select {
  background: none;
  border: none;

  color: inherit;
}

 select > option {
  color: #212529;
 }

 input[type="text"] {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  border: none;

  width: 100%;
  max-width: 190px;

  margin-right: 0.25rem;
 }

 button:not(button.menu_icon) {
    background: none;
    border: 1px solid #1a8553; 
    padding: 0.2rem 0.8rem;
    border-radius: 3px;

    color: #1a8553;
 }

 button:hover:not(button.menu_icon) {
  background-color: #1a8553;
  color: #ffffff;

  cursor: pointer;
 }

 @media screen and (max-width: 768px) {

  .menu_icon {
    display: unset;
  }
  
   ul {
     display: none;
   }
 }